.scroll {
  .button {
    z-index: 2;
    position: fixed;
    bottom: 2vh;
    background-color: #3e5ea4;
    color: #fff;
    right: 5%;
    &:hover,
    &.Mui-focusVisible {
      transition: 0.3s;
      background-color: #3e5ea4;
      color: #fff;
    }
  }
}
