.pokemonList {
  border: 1px solid rgba(224, 224, 224, 1);

  .toolbar {
    background-color: #f8f1f1;
    display: flex;
    justify-content: flex-end;

    .fetchAll {
      color: #3e5ea4;
    }
  }

  .tableHead {
    background-color: #f8f1f1;
    th {
      color: #3e5ea4;
    }
  }
}
